// I repeat button code a lot, i gotta put this stuff into a button-core type file and chunk it out better

@mixin unset-button-animation {
  // transform: none !important;
  // opacity: 1 !important;
  box-shadow: unset !important;
}

body a[role="button"].nectar-button.button,
%button {
  --transition: 0.1s;
  --button--border-width: 2px;


  // @extend %text--body;
  // font-family: $font-family--primary !important;
  // text-transform: uppercase !important;
  // font-weight: 450 !important;
  // @include pad-y-important(0.85rem);
  // @include pad-x-important(1.5rem);

  @extend %text--body;
  @include pad-y-important(0.55rem);
  @include pad-x-important(1rem);
  @include unset-button-animation;
  border-radius: $inf !important;

  border: var(--button--border-width) solid var(--button--border-color) !important;
  background-color: var(--button--fill-color) !important;

  &,
  & > span {
    color: var(--button--text-color) !important;
  }
  & > span {
    transform: translateY(1px) !important;
  }

  --button--icon-size: var(--font-size--body);

  --button--border-color: #{rgba($col--primary, 0)};
  --button--fill-color: #{rgba($col--primary, 1)};
  --button--text-color: #{rgba($col--dark, 1)};

  @include hover {
    --button--border-color: #{rgba($col--primary, 1)};
    --button--fill-color: #{rgba($col--dark, 1)};
    --button--text-color: #{rgba($col--primary, 1)};
  }

  &__secondary {
    --button--border-color: #{rgba($col--primary, 1)};
    --button--fill-color: #{rgba($col--dark, 1)};
    --button--text-color: #{rgba($col--primary, 1)};

    @include hover {
      --button--border-color: #{rgba($col--primary, 0)};
      --button--fill-color: #{rgba($col--primary, 1)};
      --button--text-color: #{rgba($col--dark, 1)};
    }
  }

  // &__tertiary {
  //   --button--border-color: #{rgba($col--rustic, 0)};
  //   --button--fill-color: #{$col--rustic};
  //   --button--text-color: #fff;

  //   @include hover {
  //     --button--border-color: #{$col--rustic};
  //     --button--fill-color: #{rgba($col--rustic, 0)};
  //     --button--text-color: #{$col--rustic};
  //   }
  // }

  // &__quaternary {
  //   --button--border-color: #be9578;
  //   --button--fill-color: #be957800;
  //   --button--text-color: #be9578;

  //   @include hover {
  //     --button--border-color: #be9578;
  //     --button--fill-color: #be9578;
  //     --button--text-color: #fff;
  //   }
  // }

  &__fit-center {
    @include mx-auto-important;
    width: fit-content !important;
    display: block !important;
  }

  &__fit {
    width: fit-content !important;
  }

  &__icon {
    @include flex-row;
    align-items: center;
    gap: 0.65rem;
    &::after {
      transform: translateY(-2px) !important;
      content: "" !important;
      display: flex;
      width: var(--button--icon-size);
      height: var(--button--icon-size);
      // margin-left: 0.65rem;
      background-color: var(--button--text-color);
      transition: var(--transition);

      // @at-root {
      //   .button.button__icon:hover::after,
      //   .button.button__icon:focus::after,
      //   .button.button__icon.hover::after,
      //   .button.button__icon.focus::after {
      //     background-color: var(--button--text-color);
      //   }
      // }
    }
  }
}

@mixin mask-button($mask) {
  &__icon {
    &::after {
      @include mask($mask);
    }
  }
}
