.team {
  &--row {
    --team--image-size: 26rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto var(--team--image-size);
    column-gap: 3rem;
    row-gap: 1.75rem;

    max-width: var(--site-max-width_small);
    @include mx-auto;

    @include xl {
      --team--image-size: 18rem;
    }

    @include lg-down {
      --team--image-size: 28rem;
      column-gap: 2rem;
      row-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto var(--team--image-size) auto var(--team--image-size);
      max-width: unset !important;
    }

    @include md-down {
      --team--image-size: 18rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      column-gap: 1.25rem;
      row-gap: 0.75rem;
    }
    @include sm-down {
      --team--image-size: 12rem;
    }
  }

  &--card {
    width: 100%;
    background-color: $col--primary;
    border-radius: $inf !important;
    overflow: hidden;

    grid-row: 1/3;

    display: grid;
    grid-template-rows: subgrid;

    @include lg-down {
      grid-row: span 2;
    }
  }
  &--heading {
    // @include pad-x(3rem);
    padding-top: 3.15rem;
    padding-bottom: 0rem;
    align-content: center;
    @include text--h4;
    @include mx-auto;
    max-width: 10ch;

    @include xl-down {
      @include text--h5;
    }

    @include lg-down {
      padding-top: 4rem;
    }

    @include md-down {
      @include text--h5;
      padding-top: 2.5rem;
    }
    @include sm-down {
      @include text--body;
      padding-top: 2rem;
    }

    & * {
      color: $col--dark;
      text-align: center;
    }
  }

  &--name {
    margin-bottom: 0.25rem !important;
    @include xl {
      @include text--h5;
      font-weight: 600 !important;
    }
    @include md-down {
      @include text--h5;
      font-weight: 600 !important;
    }
    @include sm-down {
      @include text--h6;
      font-weight: 600 !important;
      // margin-bottom: 0.45rem !important;
      margin-bottom: 0.45rem !important;
    }
  }
  
  &--title {
    margin-bottom: 0rem !important;
    @include xl {
      @include text--body;
    }
    @include md-down {
      @include text--body;
    }
    @include sm-down {
      @include text--small;
      opacity: 0.75;
      margin-bottom: 0.45rem !important;
    }
  }

  &--image {
    width: 100%;
    height: 100%;

    @include md-down {
      height: var(--team--image-size);
    }

    img {
      @include img-cover-important;
      margin-bottom: 0rem !important;
      object-position: top center;
    }
  }
}
