$colors: (
  "dark": #261416,
  "dark__light": #372325,
  "light": #f7f2eb,
  "mid": #bcb4a0,
  "mid__light": #EBE5D5,
  "secondary": #dcda84,
  "primary": #e77a33,
);

$col--dark: map-get($colors, "dark");
$col--light: map-get($colors, "light");
$col--mid: map-get($colors, "mid");
$col--mid__light: map-get($colors, "mid__light");
$col--secondary: map-get($colors, "secondary");
$col--primary: map-get($colors, "primary");
