$colors: (
  "dark": #261416,
  "dark__light": #372325,
  "dark__lighter": #473133,
  "light": #f7f2eb,
  "mid": #bcb4a0,
  "mid__light": #ebe5d5,
  "secondary": #dcda84,
  "secondary__hover": lighten(saturate(#dcda84,50%),5%),
  "secondary__dark": #2c2b05,
  "primary": #e77a33,
);

$col--dark: map-get($colors, "dark");
$col--dark__light: map-get($colors, "dark__light");
$col--dark__lighter: map-get($colors, "dark__lighter");
$col--light: map-get($colors, "light");
$col--mid: map-get($colors, "mid");
$col--mid__light: map-get($colors, "mid__light");
$col--secondary: map-get($colors, "secondary");
$col--secondary__hover: map-get($colors, "secondary__hover");
$col--secondary__dark: map-get($colors, "secondary__dark");
$col--primary: map-get($colors, "primary");
