#home {
  &--hero {
    & > [class*="row_col_wrap"] {
    }

    .row-bg-wrap {
      z-index: 0;
    }

    .hero {
      &--content {
        position: relative;
        [class*="row_col_wrap"][class*="inner"] {
          @extend %container;
          position: static;
        }
      }

      &--body {
        & > * > .wpb_wrapper {
          @include flex-col;
          & > * {
            margin: 0rem !important;
          }
          & > .wpb_text_column {
            margin-top: 1rem !important;
            margin-bottom: 2.5rem !important;
          }
          & > .button {
            width: fit-content !important;
          }
        }
      }

      &--graphic {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        height: 100%;
        @include xl-down {
          height: unset;
          top: 0;
          transform: unset;
        }

        img {
          transform-origin: top right;
        }
      }

      &--highlights {
        @extend %container;
        margin-top: 8rem;
        @include mx-auto-important;

        [class*="row_col_wrap"][class*="inner"] {
          @include flex-row;
          gap: 6rem;
          .wpb_column {
            width: fit-content !important;
          }
        }

        .nectar-highlighted-text {
          & * {
            color: $col--light !important;
            text-align: center !important;
          }

          em {
            padding: 1rem 0.25rem !important;
          }

          path {
            stroke-width: 8 !important;
          }
        }
      }
    }
  }

  &--escape {
  }

  &--dos-donts {
    --section--inner-gap: 5rem;

    @include xl-down {
      --section--inner-gap: 3rem;
    }

    // @include lg-down {
    //   --section--inner-gap: 2rem;
    // }

    & > [class*="row_col_wrap"] {
      display: grid;
      grid-template-columns:
        calc((100% - var(--site-max-width)) / 2)
        #{calc(3 / 12)}fr
        var(--section--inner-gap)
        #{calc(9 / 12)}fr
        calc((100% - var(--site-max-width)) / 2);

      @include xl-down {
        grid-template-columns:
          calc((100% - var(--site-max-width)) / 2)
          #{calc(3 / 12)}fr
          var(--section--inner-gap)
          #{calc(9 / 12)}fr
          calc((100% - var(--site-max-width)) / 2);
      }

      @include lg-down {
        grid-template-columns: 1fr;
        row-gap: var(--section--inner-gap);
      }

      &::before,
      &::after {
        content: none !important;
      }
    }

    .row-bg-wrap {
      // z-index: 0;
    }

    .graphic {
      width: 100%;
      grid-column: 1/3;

      @include lg-down {
        grid-column: 1;
      }
    }

    .body {
      width: 100%;
      grid-column: 4 / 5;

      @include lg-down {
        grid-column: 1;
        max-width: var(--site-max-width) !important;
        @include mx-auto-important;
      }


      .title-row{
        &__bottom{
          margin-top: 7.5rem;
        }

        .nectar-scribble.basic-underline{
          height: 10%;
          bottom: 7.5%;
        }
        path{
          stroke-width: 12 !important;
        }
      }
    }

    .card-list {
      [class*="row_col_wrap"][class*="inner"] {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-top: 0.75rem;
        @include pseudo-reset;

        @include xl-down {
          grid-template-columns: 1fr;
        }

        & > * {
          width: 100%;
          border-radius: var(--border-radius);
          overflow: hidden;
        }

        .vc_column-inner{
          padding: 1.75rem!important;
        }

        .wpb_wrapper > .wpb_text_column:first-child{
          margin-top: 0rem!important;
          margin-bottom: 0.75rem!important;
        }
        .wpb_wrapper > .wpb_text_column:not(:first-child){
          margin-top: 0rem!important;
          margin-bottom: 0rem!important;
        }
      }

      h6 {
        font-weight: 600 !important;
      }
    }
  }

  &--benefits {
  }
  &--pricing-small {
  }
  &--experts {
  }
  &--studies {
  }
  &--testimonials {
  }
  &--process {
  }
  &--pricing-full {
  }
  &--pricing-full-end {
  }
  &--faq {
  }
  &--limited {
  }
}
